/.vscode
/ARRAYS
/CALCULATOR
/COMMENTS
/DEMOGRAPHIC INFORMATION
/DIVISIBLE BY 5
/FIRST PROGRAM
/FORMAT SPECIFIERS
/INPUT
/LARGEST OF TWO
/NEW LINE SEQUENCE
/NOT OPERATOR
/OTHER SHAPES
/OUTPUT
/PF MID
/RECTANGLE
/SQUARE
/TAB SPACING
/TODO TASK 1
/TODO TASK 10(LAB MANUAL 1&2)
/TODO TASK 11(WHILE LOOP)
/TODO TASK 12(FOR LOOP)
/TODO TASK 13(DO WHILE LOOP)
/TODO TASK 14(PRIME NUMBER)
/TODO TASK 15(NESTED FOR LOOP)
/TODO TASK 16(POINTERS)
/TODO TASK 17(ARRAYS)
/TODO TASK 18(SELECTION SORT)
/TODO TASK 19(2D ARRAYS)
/TODO TASK 2
/TODO TASK 20(STRINGS)
/TODO TASK 21(PASSING ARRAYS TO FUNCTIONS)
/TODO TASK 3(ADDING TWO NUMBERS)
/TODO TASK 4(CALCULATOR)
/TODO TASK 5(REVERSE NUMBER)
/TODO TASK 6(GRADING SYSTEM)
/TODO TASK 7(LARGEST NUMBERS)
/TODO TASK 8(AGE)
/TODO TASK 9(BASIC COLOURS)
/TRIANGLE
/TYPES OF DIVISION
/VARIABLES DECLARATION AND INTIALIZATION
/VOWEL OR CONSONANT